* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

body {
  background-color: #e6ffe6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
  color: #003300;
}

.container {
  border: 5px solid #008000;
  width: 20em;
  height: 15em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: 
}

/* player Selection section */



/* Symbol Selection section */

/* Board section */
.main_selectors {
  display: flex;
}

.main_selectors div {
  width: 2em;
  height: 2em;
  background-color: #006600;
  margin: 0.5em;
}
