* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

body {
  background-color: #e6ffe6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
  color: #003300;
  margin: 0;
}

.container {
  border: 5px solid #008000;
  width: 40em;
  height: 25em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #99ff99;
}

/* player Selection section */

#number_player_selection {
  display: flex;
  flex-direction: column;
}

#number_player_selection h2 {
  font-size: 2em;
  margin-right: 2em;
  color: #004d00;
}

.selector {
  margin-top: 2em;
  margin-left: 1.2em;
  font-size: 2em;
  padding: 1em;
  background-color: #004d00;
  color: #99ff99;
}

.selector:active {
  background-color: #800000;
  color: #ff6666;
}

/* Symbol Selection section */

#select_nought_or_cross {
  display: flex;
  flex-direction: column;
}

#select_nought_or_cross h2 {
  margin-left: 1.3em;
  margin-top: 1.2em;
  font-size: 2em;
  color: #004d00;
}

#symbol_buttons {
  display: flex;
  align-items: center;
  padding-right: 3em;
}

#symbol_buttons p {
  font-size: 3em;
  margin: 1em;
  margin-left: 1.7em;
  margin-top: 1em;
  color: #004d00;
}

#symbol_buttons button {
  font-size: 3em;
  margin: 0;
  margin-left: 1em;
  margin-top: 0.4em;

}

/* Board section */
.main_selectors {
  display: flex;
  padding: 0;
}

.main_selectors div {
  width: 13.2em;
  height: 8.2em;
  opacity: 0.8;
  margin: 0;
  padding: 1em;
  padding-bottom: 0.5em;
  padding-left: 4em;
}

#top_mid {
  border-right: 6px solid #004d00;
  border-left: 6px solid #004d00;
}

#mid_row div {
  border-bottom: 6px solid #004d00;
  border-top: 6px solid #004d00;
}
#mid_center {
  border-left: 6px solid #004d00;
  border-right: 6px solid #004d00;
}

#bottom_mid {
  border-left: 6px solid #004d00;
  border-right: 6px solid #004d00;
}

/* Player Turn titles */

.player_turn {
  display: flex;
  padding-top: 0.5em;
}

.player_turn h3 {
  padding-left: 2em;
  padding-right: 2em;
  margin: 0;
  font-size: 1.5em;
  color: #003300;
  border-top: 6px solid #008000;
  border-left: 6px solid #008000;
  border-right: 6px solid #008000;
}

.wins {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.5em;
  color: #3D531C;
  border-top: 6px solid #61832F;
  border-left: 6px solid #61832F;
  border-right: 6px solid #61832F;
}

/* Reset All Button */

#reset_all {
  font-size: 0.8em;
  background-color: #008000;
  color: white;
  border: none;
}

#reset_all:active {
  background-color: #800000;
  color: #ff6666;
}
